<h1>Please enter Login info: </h1>
<%= form_with(scope: :session, url: login_path) do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= link_to "HAX", login_path(params: { session: {email: "asdf", password: "asdf"}}), method: :post, class: "HAX" %>
  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit "Log in" %>
<% end %>


