<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<h1><%= @user.name %>'s events</h1>
<% @user.events.each do |event| %>
  <%= content_tag(:div, "#{event.name}, #{event.place}, #{event.time}") %>
  <h4>Invited people:</h4>
  <% event.invitees.each do |invitee| %>
    <%= content_tag(:div, "#{invitee.name}") %>
  <% end %>
  <%= link_to "Event page", event_path %>
  <br>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
